PORT=3001
DATABASE_URL="sua_string_de_conexao_aqui"
JWT_SECRET="segredo_super_secreto"
AWS_ACCESS_KEY_ID="sua_access_key"
AWS_SECRET_ACCESS_KEY="sua_secret_key"
AWS_REGION="us-east-1"
AWS_S3_BUCKET="nome-do-bucket"
CLOUDFRONT_URL="https://xxxxxx.cloudfront.net"
ADMIN_EMAIL=""
ADMIN_PASSWORD=""